.gradient {
  height: 24px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;

  background: linear-gradient(
    90deg,
    #ff37f4 0%,
    #d498dd 14%,
    #4752f0 44%,
    #d989f1,
    #b262ee 100%,
    #4752f0 44%,
    #94bbe9 100%
  );
}
